<app-card
  imageSrc="https://picsum.photos/250/180?random=1"
  cardTitle="The title"
  cardBody="Some quick example text to build on the card title and make up the bulk of the card's content."
  [cardLink]="cardLink">
</app-card>

<app-card-projected>
  <img class="card-img-top" src="https://picsum.photos/250/180?random=1" alt="Card image cap">
  <h5 class="card-title"> The other title </h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content </p>
  <a card-link href="https://www.voxelgroup.net" target="_blank" class="card-link">Voxel</a>
</app-card-projected>
